*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: white;
  font-family: "Open Sans", sans-serif;
}

img{
  width: 100%;
}

/* utilities */
 a {
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.mb-big{
  margin-bottom: 3.125rem;
}

.mb-middle{
  margin-bottom:1.875rem;
}

.mb-small{
  margin-bottom: 0.625rem;
}

.mt-big{
  margin-top:  3.125rem;
}

.mt-middle{
  margin-top: 1.875rem;
}

.mt-small{
  margin-top: 0.625rem;
}

.flex{
  display: flex;
}

.debug{
   background-color: rgba(255, 0, 0, 0.252);
   border: 1px solid gray;
 }

/* containers */
.container{
  margin: 0 auto;
}
.big{
  max-width: 1200px;
}
.small{
  max-width: 1000px;
}
/* containers */
/* per i button-links */
.link-box{
  background-color: #0061ff;
  color: white;
}

.small-box{
  padding: 12px 14px;
}

.big-box{
  padding: 12px 17px ;
}

 /* fine utilities */

/* header */
header{
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
}

.topbar{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.topbar nav{
  display: flex;
}

.menu{
  padding-left: 5px ;
  padding-right: 5px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.left{
  width: 600px;
  min-width: 500px;
}

.right{
  display: flex;
  height: 100%;
  width: 500px;
}


.topbar .menu li{
  list-style: none;
  display: flex;
}


 /* fine topbar e header */

/* main */

 main{

   margin-top: 
   80px;
 }


 /* inizio jumbo */
 .jumbo{
  width: 100vw;
  height:740px ;
  background-color:#b4d0e7;
 }

 .jumbo h1{
  padding-top: 5rem;
  font-size: 5rem;
  font-weight: 900;
 }

 .jumbo-structure{
  width: 100%;
  height: 740px;
  margin-top: 3rem;
 }

 .jumbo-sx{
  /* padding-bottom: 10px; */
  height: 400px;
  width: 30%;
 }

 .fa-arrow-down{
  font-size: 3rem;
  margin-top: 98px;
 }

 .jumbo-dx{
  width: 70%;
 }

 /* fine jumbo */

 /* inizio sezione trova */

 input[type="radio"] {
  transform: scale(1.5);
}

label{
  margin-right: 40px;
}
 .trova.container.small{
  padding-top: 160px;
 }

 .trova.container.small h2{
  font-size: 2.5rem;
 }

/* card */

.card-trova{
  display: flex;
  justify-content: space-between;
}

.card{
  border: 2px solid #cdcdcd;
  /* box-shadow: 1px 1px #cfcfcf ; */
  height: 970px;
  width: 300px;
}

 .card .card-container{
  width: 78.6%;
  margin: 0 auto;
  
}

.card .subject{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 0.95rem;
  border-bottom: 2px solid #cdcdcd;
}


/* margini della card */

.card-text-top{
 margin-left: -8px;
}

 .card-text-bottom{
  margin-left: -8px;
 }

.card h3{
  margin:25px 2px 13px 0 ;
  font-size: 1.45rem;
}

.card strong{
  font-size: 0.8rem;
  margin-top: 4px;
}


.plan p{
   margin: 26px 0 0 0; 
}

.plan .period{
  color:#a5a5a5;
  margin: 10px 0 19px 0;
}

.plan .sharing{
  margin-bottom: 53px;
}

.buynow{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 45px;
}


  
.buynow a:hover{
  color: #0061ff;
}


/* margini della card */

.card-text-top{
  margin-bottom: -10px;
}

.card-text-top>div{
  display: flex;
  align-items: flex-start;
}

.card-text-top i{
  margin-top: 30px;
  margin-right: 5px;
}

.link-card{
  background-color:  #0061ff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
}

.card-text-bottom>div{
  display: flex;
  align-items: flex-start;
}

.card-text-bottom i{
  margin-top: 30px;
  margin-right: 5px;
  font-weight: 900;
  color:#025bff;
}

.card .line{
  width: 50px;
  height: 1px;
  background-color: transparent;
  border-color: transparent;
  border-bottom: 1px solid #d0d0d3;
}

.advanced .card-text-bottom div{
  height: 50px;
}

.larga{
  width: 100%;
  border: 2px solid #cdcdcd;
}

.larga .subject{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 0.95rem;
  border-bottom: 2px solid #cdcdcd;
}

.larga .link{
  color: white;
  background-color: #0061ff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 235px;
  height: 40px;
}

.larga h3{
  font-size: 1.8rem;
}

.larga .flex{
  margin-top: 27px;
 
  justify-content: space-between;
}

.larga-container{
  width: 934px;
  margin: 0 auto;
  margin-bottom: 29px;
}

.destra p{
  margin-top: 19px;
  margin-bottom: 53px;
}

/* section foto ragazzi */

.foto-ragazzi{
  width: 100%;
  height: 515px;
  margin-top: 147px;
  justify-content: center;

}

.foto-ragazzi .sinistra{
  height:100%515px;
  width: 60%;
}

.foto-ragazzi .destra{
  width: 40%;
  height: 100%;
  margin-left: 51px;
  margin-top: 55px;
}
/* fine sezione foto ragazzi */

/* sezione operazioni */
.operazioni{
  margin-top: 140px;
  height: 1200px;
}

.operazioni .container>h2{
  margin-bottom: 60px;
  display: block;
  width: 100%;
  font-size: 2.4rem;
}

.operazioni .container{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.operazioni .operazioni-card{
  display: flex;
  flex-wrap: wrap;
  height: 45%;
  width: 33%;
}

.operazioni-card .box-img{
  height: 50%;
  width: 100%;
}

.operazioni-card .box-testo{
  height: 50%;
  width: 100%;
}

.operazioni-card h2{
  font-size: 1.6rem;
  margin-bottom: 45px;
}
/* fine operazione */
/* inizio titolo prima sponsor */

.pre-sponsor-title{
  margin-top: 150px;
}

.pre-sponsor-title .container{
  height: 200px;
  width: 100%;
}

.pre-sponsor-title .container div{
  width: 600px;
  height: 100%;
}

.pre-sponsor-title .container div h2{
  font-size: 2.5rem;
  margin-bottom: 55px;
}
.pre-sponsor-title .container div a:hover{
  color: #0061ff;
}


/* inizio sponsor */

.sponsor{
  display: flex;
  justify-content: space-between;
  margin-top: 130px;
  width: 100%;
  height: 620px;
}

.sponsor .left{
  aspect-ratio: 1/1;
  flex-wrap: wrap;
  width: 1/3;
  height: 100%;
  flex-shrink: 0;
}

.sponsor .scroller{
  width: 38%;
  
}

.sponsor .box-logo{
  aspect-ratio: 1/1;
  width: 50%;
  height: 50%;
}
/* fine sponsor */
/* inizio pre-faq */

.pre-faq{
  height: 360px;
  width: 100%;
  background-color: #b4d0e7;
}

.pre-faq .container{
  padding-top: 130px;
  justify-content: space-between;
  height: 100%;
}

.pre-faq .container>.title{
  width: 500px;
}

.pre-faq .container h2{
  font-size: 2.5rem;
  color: #61082b;
}

.pre-faq .container .fake-button{
  align-items: center;
  background-color: #ffffff;
  height: 42px;
  padding: 0 48px;
  text-align: center;
}

/* inizio faq */

.faq {
  height: 450px;
  margin-top: 155px;
  margin-bottom: 150px;
}

.faq .container{
  height: 100%;
}

.faq h2{
  margin-bottom: 65px;
  font-size: 2.5rem;
}
.faq .container div{
  height: 1px;
  width: 100%;
  border-bottom:1px solid #999999 ;
}

.faq p{
  line-height:100px; 
  font-weight: 700;
}

/* fine faq */
/* inizio footer */

footer{
  background-color: black;
}

footer .container{
  height: 565px;
  padding-top: 100px;
}

footer .column{
  color: white;
  width: 20%;
  height: 251px;
}

footer .column h3{
  font-size: 2rem;
  margin-bottom: 40px;
}

.column p{
  line-height: 35px;
}

footer .line{
  margin-top: 116px;
  height: 1px;
  width: 120px;
  background-color: white;

}